.home-card-container {
    margin: 2.5rem;
    display: grid;
    row-gap: 1.5rem;
}

.home-card-container a {
    text-decoration: none;
}

.welcome-container {
    background: var(--color-background-2);
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.welcome {
    padding: 3rem 1rem 1rem 1rem;
}

.welcome h2 {
    font-weight: normal;
}

.home-card {
    overflow: hidden;
    height: 17.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-card span {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.home-card img {
    height: 200px;
    width: 200px;
}

@media only screen and (min-width: 768px) {
    .home-card-container {
        justify-content: center;
        margin: 2.5rem;
        display: grid;
        grid-template-columns: 18.5rem 18.5rem;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .home-card-container {
        justify-content: center;
        margin: 2.5rem;
        display: grid;
        grid-template-columns: 18.5rem 18.5rem 18.5rem;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .home-card-container {
        column-gap: 6rem;
    }
}