.home-card-container {
    margin: 2.5rem;
    display: grid;
    row-gap: 1.5rem;
}

.welcome {
    padding: 1rem;
}

.welcome h2 {
    font-weight: normal;
}

.home-card {
    overflow: hidden;
}

.home-card span {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.home-card img {
    height: 200px;
    width: 200px;
}

@media only screen and (min-width: 768px) {
    .home-card-container {
        justify-content: center;
        margin: 2.5rem;
        display: grid;
        grid-template-columns: 18.5rem 18.5rem;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .home-card-container {
        justify-content: center;
        margin: 2.5rem;
        display: grid;
        grid-template-columns: 18.5rem 18.5rem 18.5rem;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}