body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    border: 1px solid black;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navbar-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-buttons ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.go-to-buttons ul li {
    list-style: none;
    margin: 1rem;
}

.go-to-buttons ul li a {
    text-decoration: none;
    color: black;
}

.go-to-buttons ul li a:hover {
    text-decoration: none;
    color: cyan;
}

.current-page {
    color: cyan;
}

/* MANGA INFO CONTENT */
.main-container {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 16rem;
    width: 55%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.manga-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manga-info {
    text-align: center;
}

.manga-image {
    height: 16rem;
    width: auto;
}

.manga-info-container {
    display: flex;
    flex-direction: column;
}

.manga-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.manga-synopsis {
    text-align: center;
}

.centered {
    align-items: center;
    justify-content: center;
}

.display-flex {
    display: flex;
}


.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-wrapper ul {
    padding: 0;
}

.recommendations-cards__container, .pictures-cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}


/* Breakpoints */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (min-width: 700px) {
    .main-container {
        margin: 2.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-image {
        height: 16rem;
        width: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 0;
    }
    
    .manga-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .manga-info {
        text-align: start;
    }
    
    .manga-image {
        height: 16rem;
        width: auto;
    }
    
    .manga-info-container {
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .manga-title-and-rating {
        display: flex;
    }
    
    .manga-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }

    .manga-synopsis {
        text-align: start;
    }
    
    .centered {
        align-items: center;
        justify-content: left;
    }
    
    .display-flex {
        display: flex;
    }

    .button {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
        margin-left: 0;
        border-radius: 6px;
        padding: 0.3rem;
    }

    .rating {
        margin-left: 0.3rem;
    }
}

@media only screen and (min-width: 900px) {
    .card-image {
        width: 30%;
    }
}

/* FOOTER */
.footer {
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}
