:root {
    --color-1: #12086F;
    --color-2: #2B35AF;
    --color-3: #4361EE;
    --color-4: #4895EF;
    --color-5: #4CC9F0;
    --color-6: #F0F0F0;
    --color-7: #FFFFFF;
    --color-8: #000000;
    --color-primary: var(--color-3);
    --color-secondary: var(--color-5);
    --color-background: var(--color-6);
    --color-background-2: var(--color-7);
    --color-font: var(--color-8);
    --color-font-secondary: var(--color-7);
}

:root.dark-mode {
    --color-1: #12086F;
    --color-2: #2B35AF;
    --color-3: #4361EE;
    --color-4: #4895EF;
    --color-5: #4CC9F0;
    --color-6: #F0F0F0;
    --color-7: #FFFFFF;
    --color-8: #000000;
    --color-9: #05091E;
    --color-primary: var(--color-2);
    --color-secondary: var(--color-5);
    --color-background: var(--color-9);
    --color-background-2: var(--color-1);
    --color-font: var(--color-7);
    --color-font-secondary: var(--color-7);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

/* ELEMENTS */
/*Loading animation*/

.loading-animation {
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: spin-loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin-loading {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

/*Dark/Light mode button*/
.switch-mode-button {
    border-radius: 50%;
    border: none;
    width: 35px;
}

/*Buttons*/
.btn-primary {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-font-secondary);
    padding: 0.5rem;
}

.btn-secondary {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-font-secondary);
    padding: 0.5rem;
}

.btn-prev {
    border-radius: 1rem 0 0 1rem;
}

.btn-next {
    border-radius: 0 1rem 1rem 0;
}

.btn-goto {
    border-radius: 0;
}

/*Card*/
.card-element {
    background-color: var(--color-primary);
    border-radius: 3rem;
    padding: 1rem;

    transition-duration: 0.3s;
    transition-property: scale, box-shadow;
    transition-timing-function: ease-out;
}

.card-element:hover {
    background-color: var(--color-secondary);
    scale: 1.1;
    box-shadow: 0 0 20px 0 #808080;
}

.card-element span {
    color: var(--color-font-secondary);
}

/* Caroussel */
.caroussel-container {
    margin-top: 1.8rem;
    max-width: 1000px;
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 0;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}

.caroussel-container span {
    font-size: 1.5rem;
    font-weight: bold;
}

.slides-pictures, .slides-recommendations, .slides-animes, .slides-mangas, .slides-actors {
    text-align: center;
    display: none;
}

.slides-pictures img, .slides-recommendations img {
    border: 1px solid gray;
    height: 350px;
}

.slides-info {
    display: flex;
    flex-direction: column;
}

.slide-image {
    height:400px;
}

.caroussel-image {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 16rem;
    width: 8rem;
    min-width: 10rem;
    overflow: hidden;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Search button*/
.search-button {
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.2rem;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.prev {
    left: 0;
}

.next, .prev {
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
}

.prev:hover, .next:hover {
  color: #424242d2;
}

/* PROPERTIES */
.center {
    text-align: center;
}

.button {
    margin: 0.3rem;
    border-radius: 6px;
    padding: 0.3rem;
    text-decoration: none;
}

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
    color: white;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-cyan {
    background-color: cyan;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.bold-text {
    font-weight: bold;
}

.font-subtitle {
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* NAVBAR */
.navbar {
    background-color: var(--color-background-2);
    box-shadow: 0 0 30px 0px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.5rem;
}

.navbar-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-buttons-container {
    display: flex;
}

.go-to-buttons ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.go-to-buttons ul li {
    list-style: none;
    margin: 0.5rem;
}

.go-to-buttons ul li a {
    text-decoration: none;
    color: var(--color-secondary);

    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}

.go-to-buttons ul li a:hover {
    background-color: var(--color-background);
    border-radius: 0.4rem;
}

.current-page {
    color: var(--color-primary);
}

/* HOME CONTENT */
.search-bar-container form {
    height: 2.5rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
}

.main-container {
    margin: 2.6rem;
}

.cards-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 11rem);
    column-gap: 2.6rem;
    row-gap: 2.6rem;
}

.card:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 0 #808080;
}

.card {
    height: 17.6rem; 
    width: 11rem; 
    border: 6px solid var(--color-4);
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;

    transition-duration: 0.3s;
transition-property: scale, box-shadow;
transition-timing-function: ease-out;
}

.card:hover {
    height: min-content;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: aqua;
}

/*Card image*/
.card-image {
    height: 16rem;
    overflow: inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    height: 16rem;
}

.card-title {
    height: min-content;
    overflow: hidden;
    color: var(--color-font);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.list-navigation {
    padding: 2rem;
}

.previous-next-buttons-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.previous-next-buttons-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-number-input {
    text-align: center;
    width: 3rem;
}

.list-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.6rem;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-wrapper ul {
    padding: 0;
}

.recommendations-cards__container, .pictures-cards__container, .mangas-cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box-1, .box-2, .box-3 {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-1:nth-child(2n), .box-2:nth-child(2n), .box-3:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box-1:nth-child(2), .box-2:nth-child(2), .box-3:nth-child(2) {
    left: 5%;
}

.box-1:nth-child(4), .box-2:nth-child(4), .box-3:nth-child(4) {
    left: -5%;
}

.box-1:nth-child(4n + 1), .box-2:nth-child(4n + 1), .box-3:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box-1:nth-child(1), .box-2:nth-child(1), .box-3:nth-child(1) {
    left: 15%;
}

.box-1:nth-child(5), .box-2:nth-child(5), .box-3:nth-child(5) {
    left: -15%;
}


.box-1:nth-child(2n) a div span, .box-2:nth-child(2n) a div span, .box-3:nth-child(2n) a div span {
    transform: scale(0.85);
    z-index: -1;
}

.box-1:nth-child(2) a div, .box-2:nth-child(2) a div, .box-3:nth-child(2) a div span {
    left: 5%;
}

.box-1:nth-child(4) a div, .box-2:nth-child(4) a div, .box-3:nth-child(4) a div span {
    left: -5%;
}

.box-1:nth-child(4n + 1) a div span, .box-2:nth-child(4n + 1) a div span, .box-3:nth-child(4n + 1) a div span {
    transform: scale(0.75);
    z-index: -2;
}

.box-1:nth-child(1) a div span, .box-2:nth-child(1) a div span, .box-3:nth-child(1) a div span {
    left: 15%;
}

.box-1:nth-child(5) a div span, .box-2:nth-child(5) a div span, .box-3:nth-child(5) a div span {
    left: -15%;
}

.box-1-2-elements {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-1-2-elements:nth-child(1) {
    left: 15%;
}

.box-1-2-elements:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -1;
}

.box-1-1-element {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-2-2-elements {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-2-2-elements:nth-child(1) {
    left: 15%;
}

.box-2-2-elements:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -1;
}

.box-2-1-element {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-3-1-element {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-3-2-elements {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.box-3-2-elements:nth-child(1) {
    left: 15%;
}

.box-3-2-elements:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -1;
}

.box-3-1-element {
    width: 12rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}

/* Mobile size */
@media only screen and (max-width: 440px) {
    .main-container {
        display: block;
        margin: 1.3rem;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        height: 16rem;
        display: block;
        width: auto;
    }

    .card a {
        display: flex;
        margin: 0;
    }
    
    .card-image {
        height: 16rem;
        width: 50%;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .card-image img {
        height: 16rem;
    }
    
    .card-title {
        height: 16rem;
        overflow: visible;
        width: 50%;
        font-size: 20px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1358px) {
    .cards-container {
        grid-template-columns: repeat(5, 11rem);
    }
}

@media only screen and (max-width: 1135px) {
    .cards-container {
        grid-template-columns: repeat(4, 11rem);
    }
}

@media only screen and (max-width: 918px) {
    .cards-container{
        grid-template-columns: repeat(3, 11rem);
    }
}

@media only screen and (max-width: 699px) {
    .cards-container{
        grid-template-columns: repeat(2, 11rem);
    }
}


@media only screen and (min-width: 768px) {
    .go-to-buttons ul li a {
        padding: 0.5rem;
    }

    main {
        padding: 3rem 3rem 1.5rem 3rem;
    }
}

/* FOOTER */
.footer {
    background-color: #1E1E1E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.footer-text {
    color: #F0F0F0;
}